/* write your override styles here */
#wall .tag-1 {
    display: none;
}

div#wall #tag-2 {
    display: none;
}

div#wall #tag-3[class="slick wicked"] {
    display: none; 
}

div#wall #tag-4 {
    display: none;
}

div#wall .parent #tag-5.slick[class="slick"] {
    display: none;
}
